@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Noto+Sans+SC&family=Zhi+Mang+Xing&display=swap');

@import "//at.alicdn.com/t/font_3287177_uhbahhe2wc.css";

body {
  font-family: "HarmonyOS_Regular" !important;
}


.layout.hide-aside {
  max-width: 1300px
}

.layout {
  padding-top: 1rem;
  max-width: 1500px
}



/* 底部 */
#footer {
    background: var(--mj-card-bg);
    display: flex;
    flex-direction: column;
}
#footer-wrap {
    background: var(--mj-card-bg);
    padding: 0;
}
#mj-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem;
}
#mj-footer .footer-group {
    min-width: 120px;
}
#mj-footer .footer-title {
    color: var(--mj-secondtext);
    font-size: 1rem;
    text-align: left;
}
#mj-footer .footer-links {
    display: flex;
    flex-direction: column;
}
#mj-footer .footer-item {
    font-size: 1rem;
    color: var(--mj-fontcolor);
    margin-right: auto;
}
#mj-footer .footer-group .footer-links a{
  text-decoration: none;
}
#mj-footer .footer-group .footer-links a:hover{
  color: var(--mj-lighttext) !important;
}
div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center;
}
div#footer_deal a{
    margin: 1rem 27px;
    color: var(--mj-fontcolor);
    font-size: 24px;
    line-height: 1.3rem;
    border-radius: 3rem;
}
div#footer_deal a:hover{
    color: var(--mj-lighttext);
    text-decoration: none;
}

#footer-banner {
    padding: 1rem;
    color: #fff;
    background: linear-gradient(208deg,#4584ff 0,#4584ff 11%,#ff7676 100%);
    display: flex;
    overflow: hidden;
}
[data-theme=dark] #footer-banner {
    background: var(--mj-secondbg);
}
#footer-banner .footer-banner-links {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
#footer-banner .footer-banner-left {
    display: flex;
    flex-wrap: wrap;
}
.footer-banner-right {
    display: block;
}
#footer-banner .footer-banner-link {
    margin-right: 1rem;
    color: var(--mj-white);
    font-size: .9rem;
    font-weight: 700;
    white-space: nowrap;
}
#footer-banner a.footer-banner-link:hover {
    color: var(--mj-lighttext);
    text-decoration: none;
}
#footer-banner .footer-banner-tips{
    font-weight: 700;
}



/* 主页分类圆角 */
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  border-radius: 8px;
  }

/*主页最新文章圆角*/
a.thumbnail {
    border-radius: 12px!important
}
/* 版权圆角 */
#post .post-copyright {
    border-radius: 30px;
}
/* 侧边栏圆角 */
#aside-content .card-widget {
border-radius: 25px;
}
/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
border-radius: 25px;
}
/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
border-radius: 25px;
}
/* github按钮圆角 */
#card-info-btn{
  border-radius: 25px;
  overflow: hidden}
#card-info-btn:before{
  border-radius: 25px
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
  margin-right: 4px;
  border-radius: 5px;
}
/* 翻页圆角 */
#pagination {
  width: 100%;  
}
#pagination span {
	background-color: var(--card-bg);
	border-radius: 8px;

}
/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
    border-radius: 8px;
}
/* 文章页翻页图片圆角 */
nav#pagination.pagination-post {
    border-radius: 25px;
}
/* 相关推荐圆角 */
.relatedPosts>.relatedPosts-list>div {
  border-radius: 25px;
}

/* 哔哔主页相关 */
#bbTimeList {
  width: 100%;          /* 框不全 */
  border: 1px solid #12121226;
  align-items: center; /* 图标不居中 */ /* 其它方法#bbTimeList加一个声明justify-content: space-between; */
}
#bbtalk {
  width: 100%;     /* 内容与图标不局中 */
}
#bber > section > ul > div > li > div .datacont{
  color: #6667AB !important
}

/* 首页轮播 */
:root{
  --mj-white: #fff;
  --mj-card-bg: #fff;
  --mj-theme: #425AEF;
  --mj-main: #425AEF;
  --mj-secondbg: #ededed;
  --mj-card-border: #e3e8f7;
  --style-border: 1px solid var(--mj-card-border);
  --style-hover-border: 1px solid var(--mj-theme);
}
/* home top */
#home_top {
  max-width: 1500px;
  width: 100%;
  margin-top: .5rem;
  padding: 0 15px;
  margin: 0 auto;
}
.home_top_group {
  border-radius: 12px;
  overflow: auto;
  width: 100%;
  margin-bottom: 0;
}
.homeTopGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
  overflow-x: score;
  border-radius: 12px;
}
.homeTopGroup::-webkit-scrollbar {
  display: none;
}
.homeTopGroup #banner_group {display: flex;}
div#banners {display: none;}
@media screen and (min-width: 1300px){
.homeTopGroup #banner_group {
  width: calc(100% - 600px - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#banners {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--mj-main);
  margin-bottom: .5rem;
  margin-right: .5rem;
  border: var(--style-border);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
div#banners:hover{
  border: var(--style-hover-border);
}
.homeTopGroup .category_group {
  flex-direction: row !important;
}
.homeTopGroup .category_item {
  width: calc(100% / 3 - .33rem);
  height: 100% !important;
  margin-right: .5rem;
}
.homeTopGroup .category_item:nth-child(3) {
  margin-right: 0;
  display: flex !important;
}
#banner-page {
  width: 100%;
  height: 100%;
}
.top_post_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: calc(328px + .5rem);
  align-content: space-between;
  width: calc(600px + 1.5rem);
}
}

.homeTopGroup .category_group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}
.homeTopGroup .category_item {
  overflow: hidden;
  transform: scale(1);
  transition: .3s;
  height: 48%;
  border-radius: 12px;
}
.homeTopGroup .category_item:nth-child(3) {
  display: none;
}
.homeTopGroup .category_item a.category_button {
  height: 100%;
  width: 100%;
  background: var(--mj-card-bg);
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: 700;
  font-size: .9rem;
  color: var(--mj-white);
  transition: all .4s cubic-bezier(.39,.575,.565,1);
  transform: scale(1);
  overflow: hidden;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei;
}
.category_button_text {
  padding-left: 25px;
}
a.category_button i {
  font-size: 3rem;
  opacity: .3;
  position: absolute;
  right: 15px;
  top: 10%;
  transition: .3s;
  transform: rotate(-10deg);
  /*width: 100px;
  text-align: center;*/
}
a.category_button:hover i {
  opacity: .8;
  transition: .8s;
  transition-delay: .15s;
  transform: scale(1.1)
}
a.category_button:hover:after{
  width: 3rem;
  transition: .8s;
}
a.category_button:after {
  top: 40px;
  width: 1rem;
  left: 25px;
  height: 2px;
  background: var(--mj-white);
  content: "";
  border-radius: 1px;
  position: absolute;
  transition: .8s;
}
@media screen and (max-width: 768px){
#home_top{
  padding: 0 5px;
}
.homeTopGroup .category_group {
  min-width: 130px!important;
}
.top_post_group .top_post_item{
  border-radius: 0;
}
}
.top_post_group{
  display: flex;
  position: relative;
}
.top_post_group .top_post_item {
  display: flex;
  width: 200px;
  min-width: 200px;
  height: 164px;
  max-height: 164px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: var(--mj-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border);
}
.top_post_group .top_post_item:hover {border: var(--style-hover-border);}
.top_post_group .top_post_item .post_cover {
  width: 100%;
  height: 110px;
  position: relative;
}
.top_post_group .top_post_item .post_cover img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  background: var(--mj-secondbg);
}
.top_post_group .top_post_item .post_cover .post_cover_info {
  position: absolute;
  top: 0;
  width: 101%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.7) !important;
  transition: all 0.3s ease;
  display: flex;
} 
.top_post_group .top_post_item:hover .post_cover .post_cover_info{
  opacity: 1;
}
.top_post_group .top_post_item .post_cover .post_cover_info .post_cover_text{
  color: #fff;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.top_post_group .top_post_item:hover .post_info,
.top_post_group .top_post_item:focus .post_info{
  /*background: var(--mj-theme);*/
  box-shadow: inset 0 -60px 0 0 var(--mj-theme);
}
.top_post_group .top_post_item .post_info a{
  color: var(--mj-fontcolor) !important;
  transition: 0;
}
.top_post_group .top_post_item:hover .post_info a{
  color: var(--mj-white) !important;
}
.top_post_group .top_post_item .post_info {
  padding: .2rem .5rem .3rem .5rem!important;
  transition: .3s;
  width: 100%;
  height: 100%;
}
.top_post_group .top_post_item .post_info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  font-weight: 600;
  font-size: .8rem!important;
  padding: 0!important;
}

