: body {
            background-image: url('https://bu.dusays.com/2024/09/10/66e03c4be9df2.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: 'Inter', sans-serif;
            color: #fff;
        }