/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    display: inline;
    position: absolute;
    width: fit-content;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    }
    

/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
    display: inline-block;
  }
  /* 圆角隐藏 */
  ul.menus_item_child {
    overflow: hidden;
    border-radius: 5px;
  }
  /* 调整空隙，确保不会天下武功唯快不破 */
  #nav .menus_items .menus_item .menus_item_child {
    margin-top: 0px !important;
  }
  
  